@import '../../assets/styles/global.scss';

.order {
    padding : 40px;
    margin: 20px 0;
    border: 1px solid $primaryGray;
    background-color: $primaryWhite;
    position: relative;

    &-id {
        position: absolute;
        top: 40px;
        right: 20px;
    }
    
    &-total {
        font-weight: 500;
        text-align: right;
    }
}
