@import '../../assets/styles/global.scss';

.home{
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;

    &-row{
        display: flex;
        z-index: 1;
        margin-left: 10px;
        margin-right: 10px;
    }
    &-image{
        width: 100%;
        z-index: -1;
        margin-bottom: -150px;
        mask-image: $downGradient;
    }
}

.item-container  {
    display: flex;
    color: $primaryWhite;
    background-color: $tertiaryBlack;

    & p {
        margin: 10px;
        font-size: 14px;
        font-family: Arial, sans-serif;
    }
}